<div class="container">
  <div class="loginContainer">
    <div class="animationTextContainer">
      <ul class="animationTextContainer__textList">
        <li class="animationTextContainer__textList__text">NoteBook</li>
        <li class="animationTextContainer__textList__text">笔记本</li>
        <li class="animationTextContainer__textList__text">ノート</li>
        <li class="animationTextContainer__textList__text">공책</li>
        <li class="animationTextContainer__textList__text">स्मरण पुस्तक</li>
        <li class="animationTextContainer__textList__text">ноутбук</li>
      </ul>
    </div>

    <form>
      <input type="username" placeholder="Username" />
      <input type="password" placeholder="Password" />
      <button type="submit" [routerLink]="['/home']">Login</button>
    </form>
  </div>
</div>
