<div class="container">
  <div class="loginContainer">
    <div class="animationTextContainer">
      <ul class="animationTextContainer__textList">
        <li class="animationTextContainer__textList__text">NoteBook</li>
        <li class="animationTextContainer__textList__text">笔记本</li>
        <li class="animationTextContainer__textList__text">ノート</li>
        <li class="animationTextContainer__textList__text">공책</li>
        <li class="animationTextContainer__textList__text">स्मरण पुस्तक</li>
        <li class="animationTextContainer__textList__text">ноутбук</li>
      </ul>
    </div>

    <form (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
      <input
        type="text"
        placeholder="Username"
        [(ngModel)]="form.username"
        required
        #username="ngModel"
        id="username"
        name="username"
      />
      <div class="alertContainer" *ngIf="username.errors && f.submitted">
        <div class="alertContainer__alert" *ngIf="username.errors.required">
          Username is required
        </div>
      </div>
      <input
        type="password"
        placeholder="Password"
        [(ngModel)]="form.password"
        required
        #password="ngModel"
        id="password"
        name="password"
      />
      <div class="alertContainer" *ngIf="password.errors && f.submitted">
        <div class="alertContainer__alert" *ngIf="password.errors.required">
          Password is required
        </div>
      </div>
      <button type="submit">Login</button>
      <div class="alertContainer">
        <div class="alertContainer__alert" *ngIf="f.submitted && isLoginFailed">
          Login failed: {{ errorMessage }}
        </div>
      </div>
    </form>
  </div>
</div>
