<div>
  <div class="tableContainer anim">
    <table class="table">
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Effort</th>
        <th>Actions</th>
      </tr>
      <tr>
        <td>React adsasdasd asd asd asd ad as</td>
        <td>redux, mongo, actions</td>
        <td>1000</td>
        <td>
          <button>Complete</button>
          <button>Delete</button>
        </td>
      </tr>
      <tr>
        <td>React</td>
        <td>redux, mongo, actions</td>
        <td>1000</td>
        <td>
          <button>Complete</button>
          <button>Delete</button>
        </td>
      </tr>
      <tr>
        <td>React</td>
        <td>redux, mongo, actions</td>
        <td>1000</td>
        <td>
          <button>Complete</button>
          <button>Delete</button>
        </td>
      </tr>
    </table>
  </div>
  <div class="enterDataContainer anim">
    <div class="inputBox">
      <input placeholder="Title" />
      <input placeholder="Effort" />
    </div>
    <textarea placeholder="Description"></textarea>
    <div class="buttonContainer">
      <button>Save</button>
    </div>
  </div>
</div>
