<div class="container anim">
  <table class="table">
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Effort</th>
      <th>Actions</th>
    </tr>
    <tr>
      <td>React</td>
      <td>redux, mongo, actions</td>
      <td>1000</td>
      <td>
        <button>Complete</button>
        <button>Delete</button>
      </td>
    </tr>
    <tr>
      <td>React</td>
      <td>redux, mongo, actions</td>
      <td>1000</td>
      <td>
        <button>Complete</button>
        <button>Delete</button>
      </td>
    </tr>
    <tr>
      <td>React</td>
      <td>redux, mongo, actions</td>
      <td>1000</td>
      <td>
        <button>Complete</button>
        <button>Delete</button>
      </td>
    </tr>
  </table>
</div>
