.tableContainer {
  padding: 20px;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.table {
  width: 100%;
  display: table;
  margin-bottom: 10px;

  th {
    text-align: left;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
  }
  td {
    color: #fff;
    font-weight: 300;

    button {
      background-color: #3e7c17;
      outline: none;
      border: 0 none;
      border-radius: 8px;
      padding: 8px 8px;
      cursor: pointer;
      text-align: center;
      font-size: 13px;
      font-weight: 500;
      line-height: 1.3;
      width: 80px;
      color: #fff;
      & + button {
        background-color: #a9333a;
      }

      &:hover {
        opacity: 0.85;
      }
    }
  }

  @media screen and (min-width: 470px) {
    th {
      display: none;
    }
    td {
      display: block;
      &:last-child {
        display: flex;
        justify-content: space-between;
      }
    }
    th,
    td {
      padding: 5px 0px;
      &:first-child {
        max-width: none;
        min-width: none;
      }
      &:nth-child(3) {
        max-width: none;
        text-align: left;
        display: none;
      }
      &:last-child {
        max-width: none;
        text-align: left;
      }
    }
  }

  @media screen and (min-width: 750px) {
    th,
    td {
      display: table-cell;
    }

    td {
      &:last-child {
        margin-bottom: none;
        border-bottom: none;
        display: table-cell;
      }
      button {
        margin-top: 5px;
        margin-left: 5px;
      }
    }
    th,
    td {
      padding: 20px 10px;
      &:first-child {
        min-width: 40px;
        max-width: 100px;
      }
      &:nth-child(3) {
        max-width: 80px;
        text-align: center;
        display: table-cell;
      }
      &:last-child {
        max-width: 150px;
        text-align: center;
      }
    }
  }
}

.enterDataContainer {
  display: flex;
  flex-direction: column;

  .inputBox {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  input {
    width: 60%;
    height: 34px;
    border: none;
    background-color: #353340;
    border-radius: 8px;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 500;
    box-shadow: 0 0 0 2px rgba(134, 140, 160, 0.02);
    color: #fff;
    padding: 0 16px;
    & + input {
      width: 35%;
      margin-left: 5px;
    }
  }

  textarea {
    width: 100%;
    height: 200px;
    padding: 20px;
    margin-top: 20px;
    border: none;
    background-color: #353340;
    border-radius: 8px;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 500;
    box-shadow: 0 0 0 2px rgba(134, 140, 160, 0.02);
    color: #fff;
    resize: none;
  }

  .buttonContainer {
    display: flex;
    justify-content: flex-end;

    button {
      margin-top: 20px;
      outline: none;
      border: 0 none;
      border-radius: 8px;
      padding: 8px 8px;
      cursor: pointer;
      text-align: center;
      font-size: 13px;
      font-weight: 500;
      line-height: 1.3;
      width: 80px;
      color: #fff;
      background-color: #c36a2d;

      &:hover {
        opacity: 0.85;
      }
    }
  }
}
