<div class="calender anim">
  <div class="calender-box-store">
    <div class="calender-year-month">
      <div class="calender-month-year-box">
        <button class="calender-button" (click)="this.decreMonth()">
          <div class="calender-decrement-button"></div>
        </button>
        {{ this.showMonth() }}
        <button class="calender-button" (click)="this.increMonth()">
          <div class="calender-increment-button"></div>
        </button>
      </div>

      <div class="calender-month-year-box">
        <button class="calender-button" (click)="this.decreYear()">
          <div class="calender-decrement-button"></div>
        </button>
        {{ this.showYear() }}
        <button class="calender-button" (click)="this.increYear()">
          <div class="calender-increment-button"></div>
        </button>
      </div>
    </div>
    <div class="calender-box" *ngFor="let i of calenderBoxNum"></div>
  </div>
</div>
