<div class="calender">
  <div class="calender-box-store">
    <div class="calender-year-month">
      <div class="calender-month-year-box">
        <button class="calender-button">
          <div class="calender-decrement-button"></div>
        </button>
        JANUARY
        <button class="calender-button">
          <div class="calender-increment-button"></div>
        </button>
      </div>

      <div class="calender-month-year-box">
        <button class="calender-button">
          <div class="calender-decrement-button"></div>
        </button>
        1999
        <button class="calender-button">
          <div class="calender-increment-button"></div>
        </button>
      </div>
    </div>
    <div class="calender-box" *ngFor="let i of calenderBoxNum"></div>
  </div>
</div>
